





.fForm{
    display: flex;
}



.title{
    text-align: center;
}

.nav{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}




.row{
    width: 100%;
}


.list-group-item{
    width: 100%;
}    


@media screen and (max-width:600px) {
        
    .row{
        width: 100%;
        margin-left: 0;
    }

}


.form{
            
    width: 100%; 
}

.dat{
    width:50%;
}
.h4{
    padding-top: 5%;
}
h4{
    padding-top: 5%;
}

.cardData{
    width: 12%;
}


.card{
    width: 18rem;
}

.tit{
    width: 250px;
}
.tit1{
    width: 550px;
}
.lblTit2{
    position: relative;
    text-align:right;
    float:right;
}
.lblTit1{
    position: relative;
    text-align:left;
    float:left;
}
.imgVenta{
    width: 55%;
}

.imgAd{
    width: 100%;
}

.padName {
    margin-left: 2%;
}

.numero{
    font-size: 12em;
}

.numeroRegistro {
    position: absolute;
    left: 50%;
    top: 50%;
    color: aliceblue;
}