





.fForm{
    display: flex;
    
    justify-content:center;
}



.title{
    text-align: center;
}

.nav{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}




.row{
    width: 100%;
}


.list-group-item{
    width: 100%;
}    


@media screen and (max-width:600px) {
        
    .row{
        width: 100%;
        margin-left: 0;
    }

}


.Form{
    margin-top: 3%;        
    margin-left: 3%;
    margin-right: 3%;
}

.dat{
    width:50%;
}
.h4{
    padding-top: 5%;
}
h4{
    padding-top: 5%;
}

.cardData{
    width: 12%;
}


.card{
    width: 18rem;
}

.tit{
    width: 250px;
}
.tit1{
    width: 550px;
}
.lblTit2{
    position: relative;
    text-align:right;
    float:right;
}
.lblTit1{
    position: relative;
    text-align:left;
    float:left;
}


.imgAd{
    width: 100%;
}

.padName {
    margin-left: 2%;
}

.numero{
    font-size: 12em;
}

.numeroRegistro {
    position: absolute;
    left: 37%;
    top: 67%;
    color: aliceblue;
}

.contenidoCol6{
    width: 80%;
}
.listaId{
    width: 20%;
}

@supports(object-fit: cover){
    .box img{
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
}