.ventas{
    width: 70%;
    margin-left: 10%;
}

.title{
    text-align: center;
}

.nav{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.row{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    text-align: justify;
}

.col{
    width: 50%;
}

.list-group-item{
    width: 100%;
}

@media screen and (max-width:600px) {
    
    .row{
        width: 100%;
        margin-left: 0;
    }

}