

@media screen and (max-width:1200px) {
    .fForm{
        display: block;
    }

}

@media screen and (min-width:1200px) {
    .fForm{
    display: flex;
    }
}


.title{
    text-align: center;
}

.nav{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}




.row{
    width: 90%;
}


.list-group-item{
    width: 100%;
}    


@media screen and (max-width:600px) {
        
    .row{
        width: 100%;
        margin-left: 0;
    }

}


.form{
            
    width: 100%; 
}

.dat{
    width:50%;
}
.h4{
    padding-top: 10%;
}
h4{
    padding-top: 5%;
}
