.flex{
    width: 100%;
    display: inline-flex;
}

.content{
    padding-top: 20%;
    margin-left: 10%;
}

@media screen and (max-width:600px) {
    
    .flex{
        display: block;
    }

    .content{
        padding-top: 5%;
        margin-left: 0;
        width: 100%;
    }
}