.flex{
    width: 100%;
    display: inline-flex;
}

.content{
    padding-top: 150px;
    margin-left: 5%;
    
}

.displayFlexContent{
    display: flex;
    
}

.FloatLeft{
    width: 100%;
    display: flex;
    justify-content: center;
}

.FloatRight{
    width: 100%;
    display: flex;
    justify-content: center;
}

.DisplayBlock{
    display: block;
    justify-content: ;
    padding-top: 12px;
    padding-bottom: 0%;
    background-color: transparent;
    justify-items: center;
}

.h4{
    padding-top: 0px;
}

.ColorBar{
    background-color: rgb(128, 179, 238);
    display: flex;
    justify-content: center;
    height: auto;
    width: 90%;
    margin-left: 5%;
}

.ButtonSize{
    width: 100%;
}

.Titulo{
    top: -20px;
}


.Carusel
{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.paddingImg {
    padding-left: 10%;
    padding-right: 10%;
}


@media screen and (max-width:600px) {
    
    .flex{
        display: block;
    }

    .content{
        padding-top: 5%;
        margin-left: 0;
        width: 100%;
    }

    .ColorBar{
        display: block;
        height: auto;
        width: 100%;
    }
}