.mainContainer{
    margin-top: 15%;
}

.section{
    background-color: rgb(255, 226, 97);
    padding: 2%;
    height:fit-content;
    margin-top: 1.5%;
}
.section2{
    background-color: rgb(22, 228, 114);
    padding: 2%;
    height:fit-content;
    display: flex;
}
.caracteristicas{
    width: 40%;
    text-align: center;
    float: left;
    display: flex;
    flex-wrap: wrap;
}

.caracteristicas2{
    margin-left: 10%;
    width: 40%;
    text-align: center;
    float: right;
    display: flex;
    flex-wrap: wrap;
}

.contenedorImagen > img {
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 70%;
    display: block;
    margin:auto;
    padding: 1%;
  }

.azul{
    width: 100%;
    height: 3px;
    background-color: royalblue;
}

@media screen and (max-width:600px) {
    
    .mainContainer{
        width: 100%;
        margin-left: 0;
        margin-top: 40%
    }
}
