.main{
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/195458a0-ff67-488c-b972-14d23d2c42fb/bvlatuR/std/1200x630/ms-homepage-social");
    background-size: cover;
    display: flex;
    height: 100vh;
}

.main-login{
    background-color: #bfcde6;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 15%;
    margin-right: 25%;
    padding-bottom: 3%;
    border-radius: 30px;
}

.form{
    width: 100%;
}

.campos{
    padding-left: 25%;
    padding-top: 5%;
}

.registrarse{
    text-align: center;
    margin-top: 5%;
}

.boton-login{
    text-align: center;
    margin-top: 5%;
}


@media screen and (max-width:400px) {

    .main{
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .main-login{
        width: 100%;
        margin: 0;
        margin-top: 50%;
        padding-bottom: 15%;
    }

    .campos{
        padding-left: 20%;
    }
}