header{
    width: 100%;
}

.navbar{
    background-color: rgb(179, 179, 253);
}

.border3:hover{
   color:rgb(240, 225, 12);
}


.ubicacion{
    position: absolute;
    right: 9%;
    padding: 2%;
}

.ubicacion2{
    position: absolute;
    right: 5%;
}

.h{
    color: rgb(5, 5, 78);
}

.entra{
    display: flex;
    margin-right: 15%;
}

.picture{
    height: 50px;
    border-radius: 25px;
}

@media screen and (max-width:600px) {
    .ubicacion{
        position: relative;
        left: 1.5%;
    }

    .ubicacion2{
        position: relative;
        display: flex;
        justify-content: center;
    }
}


