header{
    width: 100%;
}

.navbar{
    background-color: rgb(179, 179, 253);
}

.ubicacion{
    position: absolute;
    right: 9%;
    padding: 2%;
}

.ubicacion2{
    position: absolute;
    right: 6%;
}

.login{
    width: 40px;
}

.h{
    color: rgb(5, 5, 78);
}

@media screen and (max-width:600px) {
    .ubicacion{
        position: relative;
        left: 1.5%;
    }

    .ubicacion2{
        position: relative;
        display: flex;
        justify-content: center;
    }
}


