header{
    width: 100%;
}

.navbar{
    background-color: rgb(179, 179, 253);
}

.border2{
    border-style: solid;
    border-color: rgb(4, 25, 65);
    background-color: rgb(5, 5, 78);
    border-width: 2px;
    padding: 15%;
    border-radius: 10px;
}

.border3{
    color: rgb(255, 255, 255);
}

.border3:hover{
   color:rgb(174, 188, 224);
}


.ubicacion{
    position: absolute;
    right: 9%;
    padding: 2%;
}

.ubicacion2{
    position: absolute;
    right: 6%;
}

.login{
    width: 40px;
}

.h{
    color: rgb(5, 5, 78);
}

@media screen and (max-width:600px) {
    .ubicacion{
        position: relative;
        left: 1.5%;
    }

    .ubicacion2{
        position: relative;
        display: flex;
        justify-content: center;
    }
}


