.sidebar{
    width: 250px;
    padding-top: 10%;
    background-color: rgba(219, 160, 32, 0.904);
    height: auto;
}

ul{
    list-style:circle;
    text-align: center;
    padding-left: 0%;
    padding-top: 4%;  
    list-style: none;  
}


.liu{
    padding-top: 10%;
    height: 100%;
    padding-bottom: 5%;
    color:white;
    background-color: rgb(179, 179, 253);
    font-size: 15px;
    margin-bottom: 10%;
    margin-right: 15%;
    border-radius: 30px;
}


@media screen and (max-width:600px) {
    .sidebar{
        width: 100%;
        margin-top: 30%;
        padding-bottom: 10%;
    }
}


.ButtonSidebar{
    border-radius: 10px;
    width: 100%;
    border-color: whitesmoke;
    font-size: 1.3rem;
    font-family:sans-serif;
    border: 3px;
    background-color: Transparent;

        
}
