.sidebar{
    width: 13%;
    padding-top: 20%;
    text-align: center;
    background-color: rgba(212, 151, 18, 0.582);
    height: auto;
}

ul{
    list-style:circle;
    text-align: left;
}

.liu:hover{
    color: black;
    font-size: 17px;
}

.liu{
    padding-top: 5%;
    height: 100%;
    padding-bottom: 5%;
    color: rgb(47, 19, 126);
    font-size: 15px
}