.sidebar{
    width: 250px;
    padding-top: 20%;
    background-color: rgba(219, 160, 32, 0.904);
    height: auto;
}

ul{
    list-style:circle;
    text-align: center;
    padding-left: 0%;
    padding-top: 4%;  
    list-style: none;  
}


.liu{
    padding-top: 10%;
    height: 100%;
    padding-bottom: 5%;
    color:wheat;
    font-size: 15px;
}


@media screen and (max-width:600px) {
    .sidebar{
        width: 100%;
        margin-top: 30%;
    }
}


.ButtonSidebar{
    border-radius: 20px;
    padding-top: 10px;
    width: 100%;
    border-color: whitesmoke;
        
}

