.content-usuarios{
    margin-top: 15%;
    width: 88%;
    padding-bottom: 5%;
}

.registrar{
    text-align: center;
    width: 100%;
}

.RegistrarUsuario{
    width: 100%;
}

.search{
    width: 30%;
    margin-left: 65%;
    margin-top: 5%;
}

.table{
    text-align: center;
    width: 90%;
    margin-left: 5%;
}

.ids{
    background-color: rgb(56, 120, 240);
    color: white;
}

td{
    text-align: center;
}

@media screen and (max-width:600px) {
    
    .content-usuarios{
        width: 100%;
        justify-content: center;
    }
}