.content-vehiculos{   
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 15%;
    padding-bottom: 5%;
    width: 84%;
    
}
@media screen and (min-width:1596px){
    .content-vehiculos{   
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 15%;
    padding-bottom: 5%;
    width: 100%;
    }

    .sizeCont {
        width: 100%;
    }

    .colorPane{
    width: 100%;
    }
   
    .imgVehiculos{
    width: 56%;
    }
    .DataCol {
        width: 20%;
    
    }
    .DataContent {
        width: 80%;
    }
    
   
}

.SearchPosition{
    float: right;
}
.boxButtons{
    padding-top: 0px;
    width: 100%;
}

.sizeButtons{
    width: 50%;
}


.ModalDialogEdit{
    max-width: 50%;
}



    .DataCol {
        width: 20%;
    
    }
    .DataContent {
        width: 80%;
    }





