.content-vehiculos{   
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 15%;
    padding-bottom: 5%;
    width: 84%;
    
}
@media screen and (min-width:1596px){
    .content-vehiculos{   
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 15%;
    padding-bottom: 5%;
    width: 100%;
    }

    .sizeCont {
        width: 100%;
    }

    .colorPane{
    width: 100%;
    }
   
    .imgVehiculos{
    width: 56%;
    }
    .DataCol {
        width: 10%;
    
    }
    .DataContent {
        width: 90%;
    }
    
   
}

.SearchPosition{
    float: right;
}
.boxButtons{
    padding-top: 0px;
    width: 15%;
}

.sizeButtons{
    width: 50%;
}


.ModalDialogEdit{
    max-width: 50%;
}

@media screen and (min-width:1470px) and (max-width:1595px){
    .imgVehiculos{
    width: 48.4%;
    }

    .DataCol {
        width: 10%;
    
    }
    .DataContent {
        width: 90%;
    }

}

@media screen and (min-width:1366px) and (max-width:1469px){
    .imgVehiculos{
    width: 44%;
    }

    .DataCol {
        width: 10%;
    
    }
    .DataContent {
        width: 90%;
    }

}
@media screen and (min-width:1287px) and (max-width:1365px){
    .imgVehiculos{
    width: 39%;
    }

    .DataCol {
        width: 12%;
    
    }
    .DataContent {
        width: 88%;
    }

}
@media screen and (min-width:1205px) and (max-width:1286px){
    .imgVehiculos{
    width: 35%;
    }

    .DataCol {
        width: 12%;
    
    }
    .DataContent {
        width: 88%;
    }

}
@media screen and (min-width:1146px) and (max-width:1204px){
    .imgVehiculos{
    width: 44.3%;
    }

    
    .DataContent {
        width: 88%;
    }
    
}

@media screen and (max-width:1145px){
    .imgVehiculos{
    width: 44.3%;
    }

    
    .DataContent {
        width: 88%;
    }
    
}



