.content-ventas{
    margin-left: 3%;
    margin-top: 15%;
    padding-bottom: 5%;
    width: 100%;
}


.buttonEdit{
    width: 100%;
}

.ModalDialogEdit{
    max-width: 50%;
}

@media screen and (max-width:600px){

    .content-ventas{
        width: 100%;
        margin: 0;
    }

    .designMovilVt{
        visibility:visible;
    }
    .designDesktopVt{
        display: none;
        

    }

    .designDesktop{
        justify-content: center;
        text-align: center;
        width: 10%;
        background-color: darkorange;


    }


}


@media screen and (min-width:601px){

    .designMovil{
        visibility:hidden;
        display: none;
    }
    
    .designDesktop{
        display: block;
        justify-content: center;
        text-align: center;


    }

}


    .designDesktop{
        justify-content: center;
        text-align: center;
        width: 87%;


    }




    .colorPaneVt{
    width: 100%;
    }

    .TextHeight{
        height: 100%;
    }

    .InputSize{
        width: 100px;
    }

.PopupDialog {
    padding: 30px;
    text-align: center;
    border-radius: 50px;
}

 .ConfirmDialog{
     padding-left: 20px;
     padding-right: 20px;
     margin: 10px;
     border-radius: 10px;
 }

 .ConfYes{
     background-color: cornflowerblue;
     color: cornsilk;
 }
 .ConfNo{
     background-color:rgb(199, 44, 44);
     color: cornsilk;
 }




.scrollDivTab{
    overflow-x: scroll;
    width: 99%;
    resize: horizontal;

}



    table, thead, tbody, th, td, tr 
        {
                font-size: 95%;
		}


        
    .registrar-venta{
        text-align: center;
        display: flex;
        /*background-color: darkcyan;*/
    }
    main{
        width: 100%;
    }

    .formWidth{
        width: 100%;
    }