.content-ventas{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 15%;
    padding-bottom: 5%;
    width: 70%;
}


.buttonEdit{
    width: 100%;
}

.ModalDialogEdit{
    max-width: 50%;
}

@media screen and (max-width:600px){

    .designMovilVt{
        visibility:visible;
    }
    .designDesktopVt{
        display: none;
        

    }
}
@media screen and (min-width:601px){

    .designMovil{
        visibility:hidden;
    }
    .designDesktop{
        visibility:visible;
        display: flex;
        justify-content: center;
        text-align: center;


    }

    .scrollDivTab{
        width: 100%;
        height: 500px;
        overflow:scroll;
        border: 1px solid #666;
        padding: 8px;
    }
}

    .colorPaneVt{
    width: 100%;
    }

    .TextHeight{
        height: 100%;
    }

    .InputSize{
        width: 100px;
    }

.PopupDialog {
    padding: 30px;
    text-align: center;
    border-radius: 50px;
}

 .ConfirmDialog{
     padding-left: 20px;
     padding-right: 20px;
     margin: 10px;
     border-radius: 10px;
 }

 .ConfYes{
     background-color: cornflowerblue;
     color: cornsilk;
 }
 .ConfNo{
     background-color:rgb(199, 44, 44);
     color: cornsilk;
 }

