.content-ventas{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 15%;
    padding-bottom: 5%;
    width: 70%;
}


.buttonEdit{
    width: 100%;
}

.ModalDialogEdit{
    max-width: 50%;
}

@media screen and (max-width:600px){

    .designMovilVt{
        visibility:visible;
    }
    .designDesktopVt{
        display: none;
        

    }
}
@media screen and (min-width:601px){

    .designMovil{
        visibility:hidden;
    }
    .designDesktop{
        visibility:visible;
        display: flex;
        justify-content: center;
        text-align: center;


    }

    .scrollDivTab{
        width: 100%;
        height: 1000px;
        overflow:scroll;
        border: 1px solid #666;
        background-color: rgb(226, 240, 243);
        padding: 8px;
    }
}

    .colorPaneVt{
    width: 100%;
    }

    .TextHeight{
        height: 100%;
    }

